
@{
    ViewBag.Title = "BOorCont";
}

<h2>We currently do not have the stock for your desired order</h2>
<P>Would you like to</P>
<p class="btn btn-primary btn-lg all-prod-button">@Html.ActionLink("Change Item Quantity", "Index", "Cart") &raquo;</p>
<p>or</p>
<p class="btn btn-primary btn-lg all-prod-button">@Html.ActionLink("Create Back Order", "CreateBackOrder", "Cart") &raquo;</p>

