
@{
    ViewBag.Title = "BOorCont";
}

<h2>We currently do not have the stock for your desired order</h2>
<P>Would you like to</P>
@Html.ActionLink("Change Item Quantity", "Index", "Cart")
<p>or</p>
@Html.ActionLink("Create Back Order", "CreateBackOrder", "Cart")
